@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@theme {
    --font-manrope: "Manrope", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body{
    font-family: "Manrope" sans-serif;
}

#preview {
    transition: opacity 0.4s ease;
    opacity: 1;
}

/* carousel */
.carousel-icon{
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    margin: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}

.carousel-track{
    animation: scroll 15s linear infinite ;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* end of carousel */


/* hamburger */
.hamburger{
    position: absolute;
    background-color: black;
    width: 20px;
    height: 3px;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}

.hamburger:first-child{
    top: 5px;
}

.hamburger:last-child{
    bottom: 4px;
}

.active .hamburger:first-child{
    top: 45%;
    transform: translateY(50%) rotate(45deg);
}

.active .hamburger:last-child{
    bottom: auto;
    top: 45%;
    transform: translateY(50%) rotate(-45deg);
}
/* end of hamburger */


.menu-header div{
    opacity: 0;
    top: 50px;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    visibility: hidden;
    pointer-events: none;
}

.menu-header.active div{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.menu-header.active div{
    top: 97px;
}

.fade-transition {
    @apply transition-all duration-500 hover:bg-slate-900 hover:text-white;
}