@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@theme {
    --font-manrope: "Manrope", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body{
    font-family: "Manrope" sans-serif;
}

#preview {
    transition: opacity 0.4s ease;
    opacity: 1;
}

.arrow1 {
    width: 3px;
    height: 17px;
    background-color: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
